Repository Dkendal/battle_snake: changes, and which lint-staged commands are due for each by the changed paths.
All: jq ., yarn prettier --write, mix format

Change license from MIT to AGPLv3.0
  LICENSE
Due: none

Remove docs package.json
  assets/docs/package.json
  assets/docs/yarn.lock
Due: jq .

Remove example snakes from repo
  examples/django_snake/django_snake/README.md
  examples/django_snake/django_snake/__init__.py
  examples/django_snake/django_snake/settings.py
  examples/django_snake/django_snake/urls.py
  examples/django_snake/django_snake/views.py
  examples/django_snake/django_snake/wsgi.py
  examples/django_snake/manage.py
  examples/django_snake/requirements.txt
  examples/flask_snake/Getting-Started.txt
  examples/flask_snake/requirements.txt
  examples/flask_snake/snake.py
  examples/go_snake/main.go
  examples/node/.gitignore
  examples/node/README.md
  examples/node/package.json
  examples/node/server.js
  examples/node_snake/index.js
  examples/node_snake/package.json
  examples/ruby_snake/.gitignore
  examples/ruby_snake/Gemfile
  examples/ruby_snake/config.ru
  examples/ruby_snake/ruby_snake.rb
Due: jq ., yarn prettier --write

Remove outdated pages
  lib/bs/pages/01_introduction.md
  lib/bs/pages/api.md
  lib/bs/pages/rules.md
  mix.exs
Due: mix format

Update readme
  README.md
Due: none

Remove logos
  assets/elm/src/Game/View.elm
  cypress/integration/kitchen_sink.spec.js
  lib/bs_web/views/example_view.ex
Due: yarn prettier --write, mix format

Update game channel test
  test/bs_web/channels/game_channel_test.exs
Due: mix format

Delete unused code
  lib/bs/game.ex
  lib/bs_web/channels/game_channel.ex
Due: mix format

Remove unused config option
  config/dev.exs
  config/prod.exs
Due: mix format

Add licensing comments to the readme.
  README.md
Due: none

Bump elixir version
  mix.exs
Due: mix format

Add http callback
  lib/bs/http.ex
Due: mix format

Remove elm package in wrong dir
  assets/elm-package.json
Due: jq .

Change the default port for dev to 9876
  config/dev.exs
  cypress.json
Due: jq ., mix format

Format json for error message
  assets/elm/src/Game/State.elm
Due: none

Include snakes that failed to connect
  VERSION
  config/config.exs
  config/test.exs
  cypress/integration/kitchen_sink.spec.js
  lib/bs/api.ex
  lib/bs/movement.ex
  lib/bs/snake.ex
  lib/bs/test.ex
  lib/bs/world/factory.ex
  test/bs/game_test.exs
  test/bs/movement_test.exs
  test/bs/snake_test.exs
  test/bs/test_test.exs
  test/bs/world/factory_test.exs
  test/bs_web/channels/game_channel_test.exs
  test/bs_web/channels/test_channel_test.exs
  test/support/case.ex
  test/support/channel_case.ex
  test/support/factory.ex
  test/support/http_mock.ex
  test/support/mocks.ex
Due: yarn prettier --write, mix format

Remove unused type
  assets/elm/src/Game/Types.elm
Due: none

Basic svg rendering in elm
  assets/elm/elm-package.json
  assets/elm/src/Decoder.elm
  assets/elm/src/Game.elm
  assets/elm/src/Game/Board.elm
  assets/elm/src/Game/State.elm
  assets/elm/src/Game/Types.elm
  assets/elm/src/Game/View.elm
  assets/elm/src/Theme.elm
  assets/elm/src/Types.elm
  assets/src/app/Game.ts
  cypress/integration/kitchen_sink.spec.js
Due: jq ., yarn prettier --write

Report when a snake fails to connect
  assets/elm/src/Decoder.elm
  assets/elm/src/Game/View.elm
  assets/elm/src/Types.elm
Due: none

Remove logging from test elm
  assets/elm/src/Test.elm
Due: none

Remove bad import
  assets/src/utils/index.ts
Due: yarn prettier --write

Share rendering logic between snake ci and main game
  assets/elm/src/Decoder.elm
  assets/elm/src/Game/BoardView.elm
  assets/elm/src/Game/View.elm
  assets/elm/src/Test.elm
  assets/elm/src/Types.elm
  assets/src/app/Test.ts
  assets/webpack.config.ts
  cypress/integration/kitchen_sink.spec.js
  lib/bs/test.ex
  lib/bs/test/agent.ex
  lib/bs/test/scenario.ex
  lib/bs_web/views/board/board_view.ex
  lib/bs_web/views/board/snake_view.ex
  lib/bs_web/views/board_config_view.ex
  lib/bs_web/views/board_view.ex
  lib/bs_web/views/game_state_view.ex
  lib/bs_web/views/game_view.ex
  lib/bs_web/views/test_case_error_view.ex
  test/bs_web/views/test_case_error_view_test.exs
Due: yarn prettier --write, mix format

Fix warnings
  lib/bs/test.ex
  lib/bs_web/endpoint.ex
  lib/bs_web/views/test_case_error_view.ex
Due: mix format

Change page title
  lib/bs_web/templates/layout/app.html.eex
Due: none

bump yarn version
  package-lock.json
  package.json
  yarn.lock
Due: jq .

Refactor game pid lookup code
  lib/bs/game.ex
  lib/bs/game/server.ex
  lib/bs_web/channels/game_channel.ex
  test/bs/game_test.exs
  test/bs_web/channels/game_channel_test.exs
Due: mix format

Path conditions:
  jq .: any of: *.json
  yarn prettier --write: ((any of: *.{css,scss}) or (any of: *.{js,jsx})) or (any of: *.{ts,tsx})
  mix format: any of: *.{exs,ex}
